* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.body {
    color: black;
}

.wrap {
    /* width: 1170px;
    margin: 0 auto; */

    padding: 0 calc(50% - 1170px / 2);
}

.heading {
    text-align: left;
    margin-bottom: 30px;
    line-height: 36px;
}



/* header */


.my {
    padding: 30px 100px;
    background: #3f313f;
    color: white;
    margin-bottom: 50px;
}

.my-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
}

.my-img {
    width: 200px;
    border-radius: 50%;
    margin: 0 40px;
}

.my-prof {
    font-size: 15px;
}


/* main */


.main {
    background: white;
    color: #3f313f;
}



/* objective */

.objective {
    padding-top: 45px;
    padding-bottom: 50px;
}

.objective-text {
    font-size: 16px;
    line-height: 25px;
    list-style: none;
    margin-bottom: 10px;
    width: 650px;
}


/* experience */


.experience {
    padding-top: 45px;
    padding-bottom: 50px;
}

.experience-box {
    display: flex;
    justify-content: start;
}

.experience,
.experience-box,
.experience-text {
    margin: 20px 0;
}

.experience-box>p {
    width: 250px;
}


.experience-text {
    margin-left: 250px;
}


/* Skills */


.skills {
    padding-bottom: 50px;
}


/* language */


.language {
    padding-bottom: 50px;
}

.language-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    padding-left: 30px;
    list-style: none;
    background-image: url(img/square-solid.svg);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 3px;
}


/* form */



.form {
    background: #e5d6d2;
}

.form-wrap {
    padding: 40px;
    padding-top: 20px;
    text-align: center;
}

.form-user {
    display: flex;
    justify-content: space-between;
}


.form-box {
    width: 45%;
    text-align: left;
}

.form-textarea,
.form-input {
    margin: 10px 0;
    background-color: #e5d6d2;
    border: none;
    border-bottom: solid 1px #9a7b98;
    width: 200px;
}

.form-textarea {
    resize: none;
    height: 32px;
    width: 550px;
}

.form-textarea,
.form-input,
input.form-box {
    width: 100%;
}

.form-btn {
    width: 150px;
    height: 40px;
    background: #3f313f;
    color: white;
    border: none;
}



/* contacts */



.contacts {
    color: white;
    background-color: #3f313f;
    padding: 20px 0 0 0;
}

.contacts-wrap {
    text-align: center;
}

.contacts-title,
.contacts-list,
.contacts>p {
    padding: 10px 0;
}

.contacts-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.contacts-link {
    text-decoration: none;
    color: white;
}

.footer {
    padding-top: 10px;
    color: #9a7b98;
}